$default-text-color: #333333;
$default-background: #ffffff;
$default-font: Open Sans, Helvetica Neue, sans-serif;
$default-font-size: 13px;

$primary-color: #007ad9;

$fonts-path: '~src/assets/fonts';

$default-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
$default-radius-px: 4px;
$default-border-color: #d7d7d7;
